@charset "UTF-8";

.blocks {
	display: flex;
	flex-direction: rows;
}

input {
	width: 100%;
}
textarea {
	width: 100%;
}
form {
	padding: 10px;
	margin: 10px;
}
button {
	background-color: white;
	color: black;
	box-shadow: 3px 3px black;
}
h3, h1 {
	text-align: center;
}

h1 {
	font-size: 40pt;
}
.container {
	width:700px;
	margin: 0 auto;
}
.blocks {
	border: 3px solid  black;
	
}
.banner {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
}

